*{
    box-sizing: border-box;
    direction:rtl;
    padding:0;
}

.clearFix{
    content: "";
    display: table;
    clear: both;
}

.mainContainer{
    width:900px;
    margin:auto;
}

/* Header & Menu*/
.header{
    background-image: linear-gradient(#909090, #eeeeee);
    width: 100%;
    height: 105px;
    position: relative;
}
.navContainer{
    width:85%;
    float:right;
}

.nav{
  padding: 10px;
  width:85%; 
  float:left;
  margin-top:30px;
}

nav>ul>li>a{
    text-decoration: none;
    display:inline-block;
    color: white;
}
nav>ul>li>a:hover{
    color:blue;
    text-decoration: underline;
}
/* nav>ul>li::after{
    content: "|";
    padding-right: 5px;
    padding-right: 5px;
    color:red;
} */
.spliter{
    color: #eee;
    padding-left:5px;
    padding-right: 0px;
}
.homeLink{
    width: 17px;
    height: 15px;
    background: url(../img/menu_home.png) 17px 0;
}
.dropdown:hover .dropdownContent {
    display: block;
}
.nav>ul>li{
    float:right;
    list-style: none;
    /* padding: 0px 30px;     */
    margin-right: 15px;
}

.nav>ul{
    padding:0;
    margin: 0;
}
.dropdownContent{
    display:none;
    position: absolute;
    background-image: linear-gradient(#909090, #eeeeee);
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}
.dropdownContent a{
    display:block;
    text-decoration: none;
    font-size: 14px;
    color:white;
    padding: 5px;
}
.dropdownContent a:hover{
    color:blue;
    text-decoration: underline;
}
nav::after{
    content: "";
    clear: both;
    display:table;
  
}
.dropdown{
    position: relative;
}
.logoContainer{
    position: relative;
    float: right;
    width: 15%;
 }

.logo{
    position: absolute;
    bottom:-105px;
}
.searchContainer{
    margin-top: 10px;
    margin-left: 10px;
    
}
.left1, .left2, .left3{
    float: left;
}
.left1{
    width:19px;
    height: 19px;
    position: absolute;
    left: -7px;
    top: 12px;
    margin-left: 20px;
}

.left2{
    width: 20%;
    height: 21px;
    border-top-right-radius: 10px;
    margin-left:20px;
}

.left3{
    color: white;
    text-decoration: none;
    font-size:12px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 6px;
}
.left3:hover{
    text-decoration: underline;
    color:blue;
}
/*--------------------*/
/* footer */
.footer{
    width:100%;
    background-image: linear-gradient(#909090, #eeeeee);
    position:fixed;
    bottom: 0;
    left: 0;
    /* margin:20px 0 50px 0; */
}

.footer>ul>li{
    float:right;
    list-style: none;

    /* padding: 0px 30px;     */
    /* margin-right: 10px; */
}

.footer>ul{
    padding:0;
    margin: 20px 0 50px 0;
    width: 900px;
    margin: auto;
}
.footer>ul>li>a{
    text-decoration: none;
    display:inline-block;
    color: white;
}
.footer>ul>li>a:hover{
    color:blue;
    text-decoration: underline;
}
.faceBook{
    width: 18px;
    height: 18px;
    background: url(../img/fb_icon.png);

}
/* -------------------- */

div.firstRow{
    display: inline-block;
    position: relative;
    width: 293px;
    height: 355px;
    border: thin solid white;
    margin: 40px 2px;
    background-color: #000;
    border-bottom-right-radius: 20px;
}

.img{
    /* clip: rect(0px,200px,300px, 0px); */
    /* width: 290px; */
    /* height: 190px; */
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto auto;
    border-bottom-right-radius: 20px;
}
.inText{
    position:absolute;
    bottom:4px;
    right:10px;
    width: 90%;
    height: 33%;
    background-color:rgba(102, 93, 93, 0.863);
    border-bottom-right-radius:20px;
    z-index: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.inText h3{
    font-size: 14px;
    font-weight: bold;
    margin-top: 1px;
}

.inText p{
    font-size:12px;
    padding-left:10px;
    margin-top: 4px;
}

.moreRead{
    float: left;
    color: white;
    position: absolute;
    bottom: 4px;
    left:15px;
    font-size: 12px;
    padding-left: 12px;
}
a.moreRead.white{
    background: url(../img/read_more_white.png) no-repeat left center;
}
a.moreRead.yellow{
    background: url(../img/read_more_yellow.png) no-repeat left center;
}
a.moreRead:hover{
    color:blue;
    background: url(../img/read_more_blue.png) no-repeat left center;
}


.secondRow{
    display: inline-block;
    position: relative;
    width: 293px;
    height: 216px;
    border: thin solid lightgray;
    margin: 40px 2px;
    background-image: linear-gradient(#ffffff,lightgray);
    border-top-right-radius: 20px;
}
.secondRow p{
    border-bottom: 2px solid lightgray;
    padding-bottom: 3px;
}
.imageCenter{
    width:250px;
    height: 110px;
    margin: auto;
}